- var form_name=""

mixin form(name, onsubmit)
  - form_name = name;
  div.error(ng-if="!forms.#{ name }.$valid")
    p There is errors in the form
  form(name="forms." + name, id="forms." + name, ng-submit=onsubmit, class="form-horizontal")
    block
  
mixin formText(id, label)
  div(for=id, class="form-group", ng-class="{ 'has-error':  (forms.#{ form_name }.#{id}.$dirty && !forms.#{ form_name }.#{id}.$valid) }")
    label(class=["col-sm-3", "control-label"])=label
    div.col-sm-9
      input.form-control(type="text", name=id, id=id, ng-model=form_name + "." + id, placeholder!=attributes.placeholder, required!=attributes.required, ng-minlength!=attributes.minlength, ng-maxlength!=attributes.maxlength, ng-pattern!=attributes.pattern)
        
mixin formSubmitButton(label)
  if(typeof(label) == "undefined") 
    label = "Submit"
  button(class=["btn", "btn-success"], type="submit")= label