mixin modalForm(id, title, action)
  div(class=["modal", "fade"], id="dialog-" + id, tabindex="-1", role="dialog", aria-labelledby=id+"Label", aria-hidden="true")
    div(class=["modal-dialog"])
      div(class=["modal-content"])
        div(class=["modal-header"])
          button(class=["close"], data-dismiss="modal", aria-label="Close")
            span(aria-hidden='true') &times;
          h4(class=["modal-title"], id=id+"Label")= title
        div(class=["modal-body"])
          +form(id, action)
            block
        div(class=["modal-footer"])
          if(typeof(action) == "undefined")
            button(class=["btn", "btn-success"], ng-if="forms.#{ id }.$valid") Save
          else 
            button(class=["btn", "btn-success"], ng-click=action, ng-if="forms.#{ id }.$valid") Save
          button(class=["btn", "btn-default"], data-dismiss="modal") Cancel
          button(class=["btn", "btn-warning"], ng-click="#{ id } = null && forms.#{ id }.$setPristine()") Clear
  
          
mixin modalFormButton(id, icon)
  button(class=["btn", "btn-primary"], data-toggle="modal", data-target="#dialog-" + id, attributes)
   if(typeof(icon) != "undefined")
    i(class=["glyphicon", "glyphicon-" + icon])
    &nbsp;
   block